<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: rgb(206, 206, 206);
  font-size: 18px;
}



a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

 
    body {
      background-image: url(/static/img/bg_slilder-1.jpg);
  text-align: center;
  color: #f5f5f5;
  
  font-family: 'Roboto';
}
</style>
</head>
<body>
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="/static/img/profile.jpg" alt="John" style="width:100%">
  <h1>Name Surname</h1>
  <p class="input">Car Brand</p>
  <p class="input">Car Model</p>
  <p class="input">greenCoins</p>
  <p class="input">Rating</p>
  <a href="file:///C:/Users/yusuf/Desktop/site/canvas/index.html"><p><button>Main Menu</button></p></a>
</div>
  
</body>
</html>